In [ ]:
import pandas as pd
import numpy as np

In [ ]:

with open('COL_Names.txt', 'r') as f:
    columns = eval(f.read())  

data = pd.read_csv('Wrangling data.txt', header=None, names=columns)

data

In [ ]:
data.replace('?', np.nan, inplace=True)

In [ ]:
pd.set_option('display.max_columns', None)
data.info()

In [4]:
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [5]:
drive_wheels_counts = data['drive-wheels'].value_counts()

print(drive_wheels_counts)

drive-wheels
fwd    120
rwd     76
4wd      9
Name: count, dtype: int64

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [7]:
data.value_counts()

symboling  normalized-losses  make        fuel-type  aspiration  num-of-doors  body-style  drive-wheels  engine-location  wheel-base  length  width  height  curb-weight  engine-type  num-of-cylinders  engine-size  fuel-system  bore  stroke  compression-ratio  horsepower  peak-rpm  city-mpg  highway-mpg  price
-2         103                volvo       gas        std         four          sedan       rwd           front            104.3       188.8   67.2   56.2    2912         ohc          four              141          mpfi         3.78  3.15    9.5                114         5400      23        28           12940    1
 1         168                toyota      gas        std         two           hatchback   rwd           front            94.5        168.7   64.0   52.6    2300         dohc         four              98           mpfi         3.24  3.08    9.4                112         6600      26        29           9538     1
           154                plymouth    gas        std         four          hatchback   fwd           front            93.7        157.3   63.8   50.6    1967         ohc          four              90           2bbl         2.97  3.23    9.4                68          5500      31        38           6229     1
                                                                               sedan       fwd           front            93.7        167.3   63.8   50.8    1989         ohc          four              90           2bbl         2.97  3.23    9.4                68          5500      31        38           6692     1
                                                                                                                                                             2191         ohc          four              98           2bbl         2.97  3.23    9.4                68          5500      31        38           7609     1
                                                                                                                                                                                                                                                                                                                         ..
 0         81                 toyota      gas        std         four          wagon       4wd           front            95.7        169.7   63.6   59.1    2290         ohc          four              92           2bbl         3.05  3.03    9.0                62          4800      27        32           7898     1
           85                 honda       gas        std         four          sedan       fwd           front            96.5        175.4   62.5   54.1    2372         ohc          four              110          1bbl         3.15  3.58    9.0                86          5800      27        33           10295    1
                                                                                                                                              65.2   54.1    2304         ohc          four              110          1bbl         3.15  3.58    9.0                86          5800      27        33           8845     1
                                                                                                                                                             2465         ohc          four              110          mpfi         3.15  3.58    9.0                101         5800      24        28           12945    1
 3         256                volkswagen  gas        std         two           hatchback   fwd           front            94.5        165.7   64.0   51.4    2221         ohc          four              109          mpfi         3.19  3.40    8.5                90          5500      24        29           9980     1
Name: count, Length: 159, dtype: int64

In [8]:
data.describe()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [ ]:
data['symboling'] = data['symboling'].astype(str)
data['price'] = data['price'].astype(float)

In [ ]:
data.info()

In [10]:
data

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,55.5,2952,ohc,four,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8,55.5,3049,ohc,four,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,55.5,3012,ohcv,six,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,55.5,3217,ohc,six,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,55.5,3062,ohc,four,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [17]:
data = data.dropna(subset=['price'])

In [30]:
data['fuel-system'] = data['fuel-system'].replace('mfi', 'mpfi')
data['engine-type'] = data['engine-type'].replace('dohcv', 'dohc')
data['engine-type'] = data['engine-type'].replace('l', 'Inline')

In [31]:
data['engine-type'].value_counts()

engine-type
ohc       145
ohcf       15
ohcv       13
dohc       12
Inline     12
rotor       4
Name: count, dtype: int64

In [ ]:
data[data['normalized-losses']]

In [22]:
data[data['fuel-system'] == 'spfi']

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
46,2,NaN,isuzu,gas,std,two,hatchback,rwd,front,96.0,172.6,65.2,51.4,2734,ohc,four,119,spfi,3.43,3.23,9.2,90,5000,24,29,11048